<div class="row">
  <div class="col-md-6">
    <h2>Make Post</h2>

    <form class="form make-post-form">
      <div class="form-group">
        <label for="make-post-title">Title:</label>
        <input class="form-input" type="text" id="make-post-title" />
      </div>
      <div class="form-group">
        <label for="make-post-body">Post:</label>
        <input class="form-input" type="text" id="make-post-body"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>

<script src="./js/makepost.js"></script>